<nav aria-label={{@name}} data-test-nav={{@name}}>
  <ul class={{this.styles.list}}>
    {{#each @menuItems as |menuItem|}}
      <li>
        <LinkTo
          @route={{menuItem.route}}
          class={{local this.styles "link"}}
          data-test-link={{menuItem.label}}
        >
          {{menuItem.label}}
        </LinkTo>
      </li>
    {{/each}}
  </ul>
</nav>