<div class={{this.styles.container}}>
  <h1 class={{this.styles.title}} data-test-page-title>
    {{@title}}
  </h1>

  <div
    class={{this.styles.content}}
    data-test-page-content
    id="main-content"
    tabindex="-1"
  >
    {{yield
      (hash
        Demo=(component "ui/page/demo")
        Section=(component "ui/page/section")
        Subsection=(component "ui/page/subsection")
      )
    }}
  </div>
</div>