<div class={{this.styles.container}}>
  <h1 class={{this.styles.title}} data-test-page-title>
    {{@title}}
  </h1>

  <div class={{this.styles.content}} data-test-page-content>
    {{yield
      (hash
        Demo=(component "ui/demo-page/demo")
        Section=(component "ui/demo-page/section")
        Subsection=(component "ui/demo-page/subsection")
      )
    }}
  </div>
</div>