<div class={{local-class this.styles "container"}}>
  <h1 class={{this.styles.header}}>
    {{@title}}
  </h1>

  <div
    class={{this.styles.body}}
    id="main-content"
    tabindex="-1"
  >
    {{yield}}
  </div>
</div>